@import '../../../../styles/tools/tools';

.page-header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: rem($header-height);
  background: $color-white;
}
